.bgColorProduct{
    width: 100%;
    height: 800px;
    background-color: #EEF7FC;
    padding-top: 20px;
}

/* -熱門商品- */
.text-divider1{
    font-size: 40px;
    display: flex;
    align-items: center;
    color: black;
    --text-divider-gap: 1rem;
    justify-content: center;
}
.text-divider1::before,
.text-divider1::after{
    content: '';
    height: 1px;
    background-color: #C4C4C4;
    width: 318px;
}
.text-divider1::before {
    margin-right: var(--text-divider-gap);
}
  .text-divider1::after {
    margin-left: var(--text-divider-gap);
}


/*雲*/
.bgColorProduct .cloud{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 18rem;
    background-size: 250rem 18rem;
    background:url();
}



@media  screen and (max-width:375px) {
    /* -熱門商品- */
    .text-divider1{
        font-size: 28px;
    }
    .text-divider1::before,
    .text-divider1::after{
        width: 100px;
    }
   
}


