.App {
  text-align: center;
}

.headerBack {
  display: flex;
}
.aboutUsMM {
  display: block;
  margin-bottom: 200px;
}
.contentLink {
  display: inline-flex;
  white-space: nowrap;
  overflow-x: hidden;
}
