.App {
  text-align: center;
}

.headerBack {
  display: flex;
  padding-top: 60px;
}
.aboutUsMM {
  display: block;
  margin-bottom: 200px;
}
.contentLink {
  display: inline-flex;
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: 30px;
}



@media  screen and (max-width:900px) {
  .headerBack {
    padding-top: 25px;
  }
}
